 

.select1{
   position: relative;
   top:20rem;
}
.select2{
    position: relative;
    top:20rem;
 }
 .select3{
    position: relative;
    top:20rem;
 }
 .select3 img{
  width:25rem;
  height:25rem
 }
header{
    top:0;
}
header a{
    text-decoration: none;
}